.pokemons {
    display: grid;
    margin: 0 auto;
    max-width: 850px;
    grid-gap: 20px;
    padding: 50px;
}

@media screen and (min-width: 1000px) {
    .pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1000px) and (min-width: 780px) {
    .pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 780px) and (min-width: 580px) {
    .pokemons {
        grid-template-columns: repeat(2, 1fr);
    }
}